

body {
    
    background-image:url("../images/BG-imgs/landscape-4961094_1920.jpg");
    background-color:#464646;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     
}


@media only screen and (max-width: 767px){
    body{
        background-image:url(../images/BG-imgs/landscape-smaller.jpg);
    }
}

h1{
    visibility: hidden;
    color: white;
    margin-top: 90px;
    width:350px;
    font-family: 'Times New Roman', Times, serif;
}



/*=============================================== Portfolio ======================================== */



/* ====================================================================  */





