

body {
    
    background-image:url("../images/BG-imgs/landscape-4961094_1920.jpg");
    background-color:#cccccc;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}




/*=============================================== Portfolio ======================================== */



/* ====================================================================  */





